<div class="row">
<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
    <div class="inline-p"><p><strong>“<script>quote({{ QUOTES | safe }})</script>”</strong></p></div>
    <div class="inline-h1"><h1 style="color: {{ img.main_color }}"><strong>Pierre Nick<br/>Durette</strong></h1></div>
    <div class="inline-p"><p><strong>{{ TAGLINE | safe }}</p></strong></div>
    {% if LINK_ICONS %}
    <div class="icon-box">
    {% for icon in LINK_ICONS %}
        <a href="{{ icon.href }}"><i class="fa fa-{{ icon.name }} fa-2x"></i></a>
    {% endfor %}
    </div>
    {% endif %}    
</div> <!--/col-->
</div> <!--/row-->
